.entered{
	opacity: 0.7;
}

html{
	height: 100%;	
}


body{
	
	min-height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #50ba3b;



}

.similar{
	position: relative;
	left: 10px;
}

input{
	display: none
}


.btn{
	width: 300px;
}

#large{
	height: 500px;
	width: 300px;
		border: 3px solid black;

}

.small{
	width: 100px;
	height: 140px;
	border: 3px solid black;
}

.row1{
	height: 74px;
}

.row2{
	position: relative;
	top: 15px;

}



table{
	position: relative;
	left: 10%;
	width: 60%;
	height: 60%;
	border-collapse:separate; 

	border-spacing: 1em;
}

td{
	padding: 10px;
}




ul{
	list-style-type: none;
}

h1{
	font-size: 3em;
	font-weight: 700;

}

li{	
    font-size: 1em;
    font-weight: 500;

}

#y{
	margin-top: 30px;
	margin-bottom: 2px;
}

#g{
	margin-bottom: 30px;
}

#r{
	margin-bottom: 30px;
}

#d{
		margin-bottom: 30px;

}